.main-Helper {
  padding-left: 4em;
  padding-right: 4em;
}

.PageContent-withNav {
  display: flex;
  flex-direction: row;
}

.pageContent-withoutNav {
  display: flex;
  flex-direction: column;
  padding-right: 3em;
}

.about-website {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 1px -2px var(--border-Helper-1),
    0 2px 2px var(--border-Helper-2), 0 1px 5px var(--border-Helper-3);
  gap: 0.5em;
  width: 25em;
  background-color: var(--background-of-view-final-choice);
}

.about-website-label {
  font-weight: bold;
  color: var(--sec-1);
  font-style: italic;
  font-family: "Arial";
  align-items: center;
  text-align: center;
  font-size: 1.7em;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.about-website-paragraph {
  font-family: "Arial";
  color: var(--text-color);
  font-size: 1.2em;
  line-height: 1.5em;
  padding-right: 1.5em;
}

.section-of-website {
  font-family: "Arial";
  font-weight: bold;
  color: var(--sec-1);
  font-size: 1.3em;
}

.li-right-padding {
  padding-right: 1em;
  padding-top: 1em;
}

.available-type {
  color: var(--text-color);
  padding-right: 3.75em;
  font-size: 1em;
  font-weight: 500;
}

.ol-section {
  color: var(--data-color);
  font-size: 1.09em;
  font-weight: 500;
  padding-right: 5em;
}

.special-par {
  font-family: "Arial";
  color: var(--text-color);
  padding-right: 5.2em;
  font-size: 1.0939em;
  line-height: 1.5em;
}

.right-pad-par {
  padding-right: 3em;
}

.row-explain {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.section-togather {
  margin-top: 2em;
  margin-right: 2em;
  height: 20em;
}

.ol-sec-two {
  padding-right: 1.7em;
  font-size: 0.93em;
}
#unique {
  margin-top: 2em;
  margin-right: 6em;
  align-items: center;
  width: 45em;
}

#the-content-of-our-website {
  padding-top: 3em;
}
.zr-helper {
  width: fit-content;
  height: fit-content;
  /* margin-top: 20em; */
  margin-right: 50em;
  border: 0.5px solid;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 0.7em 1.5em;
  color: var(--text-color);
  font-size: 1.1em;
}
/* MOBILE */
@media screen and (max-width: 481px) {
  .main-Helper {
    padding-left: 1em;
    padding-right: 1em;
  }

  .pageContent-withoutNav {
    padding-right: 0.5em;
  }

  .about-website {
    gap: 0.1em;
    width: 14em;
  }

  .about-website-label {
    font-size: 1em;
    padding-top: 1em;
    padding-bottom: 0.4em;
  }

  .about-website-paragraph {
    font-size: 0.8em;
    line-height: 1.5em;
    padding-right: 1em;
  }

  .section-of-website {
    font-size: 1em;
  }

  .li-right-padding {
    padding-right: 1em;
    padding-top: 1em;
  }

  .available-type {
    padding-right: 3.6em;
    font-size: 0.7em;
    font-weight: 500;
  }

  .ol-section {
    font-size: 0.7em;
    font-weight: 500;
    padding-right: 5em;
  }

  .special-par {
    padding-right: 6em;
    font-size: 0.7em;
    line-height: 2em;
  }

  .right-pad-par {
    padding-right: 3em;
  }

  .row-explain {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .section-togather {
    margin-top: 1em;
    margin-right: 2em;
    height: 20em;
  }
  .ol-sec-two {
    padding-right: 1.7em;
    font-size: 0.8em;
  }
  #unique {
    margin-top: 2em;
    margin-right: 1em;
    width: 15em;
  }

  #the-content-of-our-website {
    padding-top: 2.5em;
  }
}
.zr-helper {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* MIDUEM */
@media screen and (min-width: 481px) and (max-width: 900px) {
  .main-Helper {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .pageContent-withoutNav {
    padding-right: 1em;
  }

  .about-website {
    gap: 1em;
    width: 15em;
  }

  .about-website-label {
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 0.4em;
  }

  .about-website-paragraph {
    font-size: 0.9em;
    line-height: 1.5em;
    padding-right: 1em;
  }

  .section-of-website {
    font-size: 1.1em;
  }

  .li-right-padding {
    padding-right: 1.1em;
    padding-top: 1em;
  }

  .available-type {
    padding-right: 3.6em;
    font-size: 0.8em;
    font-weight: 500;
  }

  .ol-section {
    font-size: 0.8em;
    font-weight: 500;
    padding-right: 5.5em;
  }

  .special-par {
    padding-right: 5.6em;
    font-size: 0.8em;
    line-height: 1.3em;
  }

  .right-pad-par {
    padding-right: 3em;
  }

  .row-explain {
    gap: 1em;
  }

  .section-togather {
    margin-top: 1.5em;
    margin-right: 2em;
    height: 20em;
  }

  .ol-sec-two {
    padding-right: 1.8em;
    font-size: 0.8em;
  }
  #unique {
    margin-top: 2em;
    margin-right: 5em;
    width: 24em;
  }

  #the-content-of-our-website {
    padding-top: 2.5em;
  }
  .zr-helper {
    margin-top: 15em;
    margin-right: 10em;
  }
}
