
.mainContainer {
  padding-left: 4em;
  padding-right: 4em;
}
.confirm {
  padding: 0.5em 1.5em;
  height: fit-content;
  padding-top: 7em;
  padding-bottom: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.verf-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.resend-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 8em;
    gap: 0.5em;
    padding-bottom: 1em;
}

.buttons-box{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding-top: 1.5em;
    width: 60%;
}
.btn {
  background: var(--conf-btn);
  border: 0.5px solid;
  border-radius: 0.5em;
  cursor: pointer;
  padding: 0.7em 1.5em;
  color: var(--text-color);
  font-size: 1.1em;
}
.back-btn{
    background: var(--back-btn);
}

.text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1em;
  color: var(--text-color);
}
.error {
  color: var(--error-color);
}

.conf-a {
  color: #2f2e41;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.25em;
  display: block;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.conf-a:hover {
  /* color: var(--cof-a-hover); */
  
}

.conf-inp {
  box-sizing: border-box;
  height: 1.5em;
  left: 2em;
  top: 11em;
  background: var(--inp-bg);
  border-width: 1px 1px 5px 1px;
  border-style: solid;
  border-color: var(--border-log-color);
  border-radius: 1em;
  text-align: right;
  font-family: "Arial";
  font-style: normal;
  font-size: 1.25em;
  line-height: 2em;
  padding: 1em;
}
.label-conf {
  width: 5em;
  font-family: "Arial";
  font-size: 1.5em;
  color: #2f2e41;
}

/* MOBILE */
@media screen and (max-width: 481px){

.confirm {
  padding: 0.3em 1em;
  height: fit-content;
  padding-top: 5em;
  padding-bottom: 2em;
}
.resend-box{
    padding-right: 3em;
    gap: 0.3em;
    padding-bottom: 0.8em;
}

.buttons-box{
    gap: 1em;
    padding-top: 1em;
    width: 60%;
}
.btn {
  border: 0.3px solid;
  border-radius: 0.3em;
  padding: 0.4em 1em;
  font-size: 0.7em;
}
.text {
  font-size: 0.7em;
}

.conf-a {
  font-size: 0.75em;
  display: block;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.conf-inp{
  height: 2em;
  border-width: 1px 1px 3px 1px;
  border-style: solid;
  border-radius: 0.5em;
  font-size:0.75em;
  padding: 0.5em;
}
.label-conf {
  width: 4em;
  font-size: 0.75em;
}

}

/* MIDUEM */
@media screen and (min-width: 481px) and (max-width: 900px) {
  .confirm {
    padding: 0.4em 1em;
    height: fit-content;
    padding-top: 6em;
    padding-bottom: 3em;
  }
  .resend-box{
      padding-right: 6em;
      gap: 0.4em;
      padding-bottom: 0.9em;
  }
  
  .buttons-box{
      gap: 1.5em;
      padding-top: 1.5em;
      width: 60%;
  }
  .btn {
    border: 0.3px solid;
    border-radius: 0.4em;
    padding: 0.6em 1.2em;
    font-size: 0.9em;
  }
  .text {
    font-size: 1em;
  }
  
  .conf-a{
    font-size: 0.9em;
    display: block;
    padding-top: 1em;
    padding-bottom: 0.7em;
  }
  
  .conf-inp {
    height: 2em;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-radius: 0.7em;
    font-size:0.9em;
    padding: 1em;
  }
  .label-conf {
    width:4em;
    font-size: 1.2em;
  }
  
}
