.main-FinalChoicesView {
  padding-left: 4em;
  padding-right: 4em;
  background-color: var(--bg-color);
}

.FinalChoicesView-Content {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding-top: 1em;
  padding-right: 3em;
}

.finalChoicesView-outside {
  margin-right: 5em;
}

.finalchoice-view {
  background: var(--background-of-view-final-choice);
  border-radius: 1em;
  width: 45em;
  height: 16em;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  gap: 1em;
  margin-right: 8em;
}

.finalchoice-view::-webkit-scrollbar {
  display: none;
}

.each-element-of-view-final-choices {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  color: var(--text-color);
  gap: 6em;
  padding-right: 8em;
}

.numberOfFile {
  padding-right: 22em;
}

.FinalChoiceViewNote {
  width: 7em;
  font-family: "Arial";
  font-size: 1.3em;
  color: var(--text-color);
}

.bottomFinalChoice {
  display: flex;
  flex-direction: row;
  gap: 11em;
  padding-bottom: 1em;
}

.ImageForFinalShow {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.finalChoiceView {
  width: 6.5em;
  height: 5.5em;
}

.label-FinalChoiceView {
  -webkit-text-stroke: 0.5px black;
  font-size: 1.4em;
  font-weight: bold;
  color: var(--done);
}

.VerifyVector {
  margin-top: 2em;
  width: 2.5em;
  height: 1.5em;
}

.zr {
  width: fit-content;
  height: 3em;
  margin-right: 3em;
  margin-top: 1.5em;
}

/* MOBILE */
@media screen and (max-width: 481px) {
  .main-FinalChoicesView {
    padding-left: 1em;
    padding-right: 1em;
  }

  .FinalChoicesView-Content {
    gap: 2em;
    padding-top: 1em;
    padding-right: 1em;
  }

  .finalChoicesView-outside {
    margin-right: 0em;
  }

  .finalchoice-view {
    width: 13em;
    height: 15em;
    padding: 1em 1em;
    gap: 0.5em;
    margin-right: 1.5em;
  }

  .each-element-of-view-final-choices {
    font-size: 0.5em;
    gap: 3em;
    padding-right: 0em;
  }

  .numberOfFile {
    padding-right: 0em;
  }

  .FinalChoiceViewNote {
    width: 7em;
    font-size: 0.75em;
  }

  .bottomFinalChoice {
    gap: 0.4em;
    padding-bottom: 1em;
  }

  .ImageForFinalShow {
    gap: 0.1em;
  }

  .finalChoiceView {
    width: 3em;
    height: 3em;
  }

  .label-FinalChoiceView {
    -webkit-text-stroke: 0.2px black;
    font-size: 0.6em;
  }

  .VerifyVector {
    margin-top: 1em;
    width: 1em;
    height: 1em;
  }

  .zr {
    width: fit-content;
    height: 3em;
    margin-right: 0em;
    margin-top: 2.2em;
    font-size: 0.5em;
  }
}

/* MIDUEM */
@media screen and (min-width: 481px) and (max-width: 900px) {
  .main-FinalChoicesView {
    padding-left: 2em;
    padding-right: 2em;
  }

  .FinalChoicesView-Content {
    gap: 2em;
    padding-top: 1em;
    padding-right: 1em;
  }

  .finalChoicesView-outside {
    margin-right: 3.5em;
  }

  .finalchoice-view {
    border-radius: 1em;
    width: 25em;
    height: 13.5em;
    padding: 1em 1em;
    gap: 1.1em;
    margin-right: 5em;
  }

  .each-element-of-view-final-choices {
    font-size: 0.7em;
    gap: 5em;
    padding-right: 4em;
  }

  .numberOfFile {
    padding-right: 10em;
  }

  .FinalChoiceViewNote {
    width: 7em;
    font-size: 1em;
  }

  .bottomFinalChoice {
    gap: 3em;
    padding-bottom: 0.5em;
  }

  .ImageForFinalShow {
    gap: 1em;
  }

  .finalChoiceView {
    width: 5em;
    height: 5em;
  }

  .label-FinalChoiceView {
    -webkit-text-stroke: 0.4px black;
    font-size: 0.9em;
  }

  .VerifyVector {
    margin-top: 2em;
    width: 1.2em;
    height: 1.2em;
  }

  .zr {
    margin-right: 4em;
    margin-top: 2.5em;
    font-size: 0.75em;
  }
}
