.main-explain {
  padding-left: 4em;
  padding-right: 4em;
}

.explain {
  padding: 0.5em 1.5em;
  height: fit-content;
  padding-top: 0em;
  padding-bottom: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.justText {
  display: flex;
  flex-direction: row;
  gap: 5em;
}
.one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tree {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.four {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sec-1 {
  color: var(--sec-1);
  text-decoration: underline;
  font-size: 1.25em;
}

.text-1 {
  color: var(--text-color);
  font-size: 1.05em;
  line-height: 1.3em;
}

.list-l {
  width: 10em;
}

.Ex-nav {
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
}
#job {
  width: 15em;
}
.fisrst-section {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding-top: 5em;
}

.second-section {
  display: flex;
  flex-direction: row;
  gap: 6em;
  padding-top: 5em;
}

.photo-ex {
  padding-top: 3em;
  width: 21em;
  height: 21em;
}

.leave {
  background-color: var(--conf-btn);
}

#explainbuttonbox {
  margin-right: 50%;
  padding-top: 5em;
}

/* MOBILE */
@media screen and (max-width: 481px) {
  .main-explain {
    padding-left: 2em;
    padding-right: 2em;
  }

  .explain {
    padding: 0em 1em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
  }
  .justText {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  .sec-1 {
    font-size: 0.9em;
  }

  .text-1 {
    font-size: 0.7em;
    line-height: 1.05em;
    padding-left: 10%;
  }
  #job {
    width: fit-content;
  }

  .list-l {
    width: 7em;
  }

  .fisrst-section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 2em;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    padding-top: 2em;
    padding-left: 10%;
  }
  .photo-ex {
    padding-top: 3em;
    width: 12em;
    height: 12em;
  }
  #explainbuttonbox {
    margin-right: 0;
    padding-top: 5em;
  }
  .three {
    align-items: start;
  }
}

/* MIDUEM */
@media screen and (min-width: 481px) and (max-width: 900px) {
  #job {
    width: fit-content;
  }

  .justText {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  .photo-ex {
    padding-top: 3em;
    width: 14em;
    height: 14em;
  }
  #explainbuttonbox {
    margin-right: 40%;
    padding-top: 5em;
  }
  .three {
    align-items: start;
  }

  .main-explain {
    padding-left: 3em;
    padding-right: 3em;
  }

  .explain {
    padding: 0.2em 1.3em;
    padding-bottom: 3em;
  }
  .sec-1 {
    font-size: 1em;
  }
  .text-1 {
    font-size: 0.8em;
    line-height: 1em;
  }

  .list-l {
    width: 8em;
  }

  .fisrst-section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 2em;
  }

  .second-section {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    padding-top: 2em;
  }
}
