.main-ChangePassword{
    padding-left: 4em;
    padding-right: 4em;
}
.ChangePassword{
    padding: 0.5em 1.5em;
    height: fit-content;
    padding-top: 7em;
    padding-bottom: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.JustText{
    display: flex;
    flex-direction: column;
    gap: 4.2em;
}
.JustInputLabel{
    display: flex;
    flex-direction: column;
}
.All-Content{
    display: flex;
    flex-direction: row;
}
.err {
    color: var(--error-color);
    padding-right: 8em;
  }