.main-EnterEmail {
  padding-left: 4em;
  padding-right: 4em;
}
.All-EnterEmail-Content {
  display: flex;
  flex-direction: column;
}
.Enter-Email {
  display: flex;
  flex-direction: row;
  gap: 4em;
  padding-right: 25em;
  padding-top: 10em;
}

.EnterYourEmail {
  width: fit-content;
  font-family: "Arial";
  font-size: 1.5em;
  color: var(--text-color);
}

.EnterYourEmail-Label {
  box-sizing: border-box;
  width: 15em;
  height: 3em;
  background: var(--inp-bg);
  border-width: 1px 1px 5px 1px;
  border-style: solid;
  border-color: var(--border-log-color);
  border-radius: 1em;
  text-align: right;
  font-family: "Arial";
  font-style: normal;
  font-size: 1em;
  line-height: 1em;
  padding: 1em;
}
.buttons-box-EnterEmail {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-right: 55em;
  padding-top: 10em;
  padding-bottom: 2em;
}

/* MOBILE */
@media screen and (max-width: 481px) {
  .main-EnterEmail {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .Enter-Email {
    width: 100em;
    gap: 1em;
    padding-right: 0.5em;
    padding-top: 10em;
  }

  .EnterYourEmail {
    font-size: 0.9em;
  }

  .EnterYourEmail-Label {
    width: 8.5em;
    height: 0.6em;
    border-width: 1px 1px 4px 1px;
    font-size: 1em;
  }
  .buttons-box-EnterEmail {
    gap: 1em;
    padding-right: 10em;
    padding-top: 8em;
  }
}

/* MIDUEM */
@media screen and (min-width: 481px) and (max-width: 900px) {
  .main-EnterEmail {
    padding-left: 3em;
    padding-right: 3em;
  }
  .Enter-Email {
    gap: 2em;
    padding-right: 10em;
    padding-top: 10em;
  }

  .EnterYourEmail {
    font-size: 1.2em;
  }

  .EnterYourEmail-Label {
    width: 12em;
    height: 2.5em;
    border-width: 1px 1px 5px 1px;
    font-size: 1em;
  }

  .buttons-box-EnterEmail {
    gap: 1em;
    padding-right: 30em;
    padding-top: 8em;
  }
}
